.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(10px);
    height: var(--header-height);
    padding: 0 var(--body-padding);
    flex-wrap: wrap;
    .links {
        display: flex;
        align-items: center;
        gap: var(--group-small);
        margin-left: auto;

        .link {
            color: var(--foreground-400);
            font-weight: normal;
            transition: var(--transition);

            &:hover {
                color: var(--foreground-100);
            }
        }

        .menu {
            width: 30px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            background: none;
            border: none;
            display: none;
            cursor: pointer;
            span {
                width: 100%;
                height: 2px;
                background-color: var(--foreground-100);
            }
            &.open {
                span:nth-child(1) {
                    transform: rotate(45deg);
                }
                span:nth-child(2) {
                    transform: rotate(-45deg) translate(5px, -5px);
                }
            }
        }
    }

    .menuContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--group-medium);
        position: absolute;
        top: var(--header-height);
        height: calc(100vh - var(--header-height));
        background: var(--background-100);
        width: 100%;
        left: 0;
        padding: var(--body-padding);

        .link {
            text-decoration: none;
        }
    }
}

@media (max-width: 950px) {
    .header .links {
        .link {
            display: none;
        }
        .menu {
            display: flex;
        }
    }
}

@media (max-width: 650px) {
    .header .links {
        .secondaryCta {
            display: none;
        }
    }
}
