.linkWrapper {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    a {
        color: var(--a-color);
        text-decoration: none;
        font-weight: inherit;
    }

    &.underline {
        a {
            border-bottom: 1.2px solid currentColor;
        }
    }
}
