a.cta,
a.secondary {
    display: block;
    width: max-content;
    padding: var(--form-element-padding) calc(var(--form-element-padding) * 2);

    border-radius: var(--form-element-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-100);
    font-weight: bolder;
    color: var(--foreground-100);
    text-decoration: none;
    transition: var(--default-transition);
    text-align: center;
    font-weight: 600;

    border: var(--light-border);
    border-color: transparent;

    outline-offset: 0px;
}

a.cta {
    &:focus {
        box-shadow: var(--button-shadow);
        outline: var(--outline);
        box-shadow: var(--button-shadow);
        scale: var(--scale);
    }

    &:hover {
        background: var(--primary-400);
    }

    &.reverse {
        &:focus {
            box-shadow: var(--button-shadow-reverse);
        }
    }
}

a.secondary {
    background: none;
    border: var(--light-border);
    color: var(--foreground-100);

    &:focus {
        box-shadow: var(--button-shadow);
        outline: var(--outline);
        box-shadow: var(--button-shadow);
        scale: var(--scale);
    }

    &:hover {
        background: var(--foreground-300);
        color: var(--background-100);
    }

    &.reverse {
        color: var(--background-100);

        &:hover {
            background: var(--background-100);
            color: var(--foreground-100);
        }

        &:focus {
            background: var(--background-100);
            color: var(--foreground-100);
            box-shadow: var(--button-shadow-reverse);
        }
    }
}

@media (max-width: 500px) {
    a.cta {
        width: 100%;
    }
    a.secondary {
        width: 100%;
    }
}
