a.cta,
a.secondary {
	display: block;
	width: 150px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--primary-100);
	font-weight:600;
	border-radius: var(--card-radius);
	color: var(--foreground-100) !important;
	font-size: var(--paragraph-size-1);
	text-decoration: none;
	transition: var(--default-transition);
	text-align: center;
}

a.secondary {
	background: none;
	border: var(--light-border);
	color: var(--foreground-100) !important;
}

a.secondary:hover,
a.secondary:focus {
	background: var(--gradient-1);
}

a.cta:hover,
a.cta:focus {
	background: var(--primary200);
}

a.cta:focus,
a.cta:active,
a.secondary:focus,
a.secondary:active {
	outline: var(--outline);
}

a.cta.red {
	background-color: var(--red);
}

@media (max-width: 500px) {
	a.cta {
		width: 100%;
	}
	a.secondary {
		width: 100%;
	}
}
