.booking {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
    padding: var(--body-padding);
    max-width: var(--section-max-width);
    margin: 0 auto;
}

.booking h1 {
    font-size: var(--title-2);
    color: var(--foreground-100);
    text-align: center;
}