.button,
.primary,
.secondary {
	width: 100%;
	height: 45px;
	cursor: pointer;
	transition: var(--default-transition);
	border-radius: var(--card-radius);
	font-size: var(--paragraph-size-1);
}

.button:focus,
.primary:focus,
.secondary:focus {
	outline: var(--outline);
}

.primary {
	background: var(--foreground-100);
	color: var(--background-100);
	border: 1px solid transparent;
	position: relative;
}
.primary.loading {
	font-size: 0;
	color: var(--foreground-100);
}
.primary.loading::after {
	position: absolute;
	width: 20px;
	height: 20px;
	content: "";
	background: url("/icons/loading.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: var(--rotate);
}

.secondary {
	background: var(--background-100);
	color: var(--foreground-100);
	border: var(--light-border);
	font-weight: normal;
	position: relative;
}

.secondary.loading {
	position: relative;
}

.secondary.loading::after {
	position: absolute;
	width: 20px;
	height: 20px;
	content: "";
	background: url("/icons/loading2.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: var(--rotate);
}

.button:hover,
.primary:hover {
	/* background-color: var(--accent-variant); */
	box-shadow: -200px -200px 0px 200px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: -200px -200px 0px 200px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: -200px -200px 0px 200px rgba(0, 0, 0, 0.1) inset;
}

.secondary:hover {
	border-color: var(--foreground-100);
	box-shadow: var(--card-shadow);
	background: var(--gradient-1);
}

.secondary.active {
	border-color: var(--foreground-100);
	background: var(--background-200);
}


.secondary[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}

.primary[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}