* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	--title-font-family: "ivypresto-display", serif;
	--title-line-height: 116.3%;
	--body-padding: clamp(25px, 10vw, 100px);
	--padding: var(--gap-2) var(--body-padding);
	--header-height: 80px;
	--gap-1: 10px;
	--gap-2: 20px;
	--gap-3: 30px;
	--gap-4: 50px;
	--gap-5: 65px;
	--section-max-width: 650px;

	--paragraph-size-1: 1.6rem;
	--paragraph-size-2: 1.8rem;
	--paragraph-size-3: 2.2rem;
	--title-1: clamp(4rem, 10vw, 7rem);
	--title-2: clamp(2.7rem, 10vw, 4.7rem);
	--title-3: clamp(2.7rem, 10vw, 3.2rem);
	--line-height: 130%;

	--form-element-radius: 12px;
	--background-100: #fff;       /* #FFFFFF */
	--background-200: #f9fbff;    /* A slightly bluish tint */
	--background-300: #f3f7ff;    /* Increasing the blue presence */
	--background-400: #edf3ff;    /* A softer light blue */
	--background-500: #e7efff;    /* Gently moving towards CEE2FF */
	--background-600: #e1ebff;    /* Closer hue to target color */
	--background-700: #dbe7ff;    /* Almost there */
	--background-800: #d5e3ff;    /* Just a touch away from CEE2FF */
	--background-900: #cfdfff;    /* Very close to CEE2FF */
	--background-1000: #cee2ff;   /* Target color CEE2FF */
	
	

	--background-100-rgb: 255, 255, 255;

	--foreground-100: #000;
	--foreground-200: #303030;
	--foreground-300: #505050;
	--foreground-400: #707070;
	--foreground-500: #808080;
	--foreground-600: #909090;

	--primary-100: #FFD900;
	--primary-200: #ff7300;
	--primary-300: #ffa600;
	--primary-400: #ffd900;
	--primary-500: #f2ff00;
	--primary-600: #ffea00;
	--primary-700: #bfff00;
	--red: #e83e15;
	--red-100: #FF0000;
	--red-200: #e83e15;
	--green: #084607;
	--yellow: #f6cc0f;

	--error: #a41900;
	--a-color: #0d3da4;

	--outline: 2px solid rgba(30, 143, 255, 0.616);

	--gradient-1: linear-gradient(
		90deg,
		var(--background-100) 0%,
		var(--background-1000) 100%
	);
	--default-transition: 400ms ease;

	--light-border: 0.5px solid var(--foreground-600);
	--light-border-on-primary: 0.5px solid var(--primary-200);
	--rotate: rotate 1.5s linear infinite;
	--rotate-2: rotate-2 1.5s linear infinite;
	--card-padding: 20px;
	--card-radius: 15px;
	--card-radius-2: 30px;
	--card-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	--inline-button-width: 55px;

	--shake-animation: shake 3s ease-in-out infinite;

	--button-padding: 12px;
}

body {
	position: relative;
	background-color: var(--background-100);
	min-width: 250px;
	margin: 0 auto;
	max-width: calc(1500px + var(--body-padding) * 2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bolder;
	line-height: 115%;
}

p,
b,
a {
    font-size: var(--paragraph-size-1);
	line-height: var(--line-height);
}

.error {
	color: var(--error);
	font-size: var(--paragraph-size-1);
}

.error:empty {
	display: none;
}



p, button, a, span, div, b, i{
	font-size: var(--paragraph-size-1);
	color: var(--foreground-100);
}

@media (max-width: 600px) {
	:root {
		/* --body-padding: 25px; */
		--header-height: 70px;
	}
}



@keyframes rotate {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}