* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline-offset: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    /** Global */
    --body-padding: clamp(30px, 10vw, 100px);
    --header-height: 100px;

    /** Spacing */
    --group-big: 40px;
    --group-medium: 30px;
    --group-small: 15px;
    --row-spacing: clamp(50px, 10vh, 100px);

    /** Card padding */
    --card-big-padding: 40px;
    --card-medium-padding: 30px;
    --card-small-padding: 15px;

    /** Card border radius */
    --card-big-radius: 50px;
    --card-medium-radius: 30px;
    --card-small-radius: 20px;

    /**Max width */
    --section-max-width: 800px;

    /** Typography */

    /** Paragraph */
    --body-size-1: 1.6rem;
    --body-size-2: 1.8rem;
    --body-size-3: 2rem;

    /** Heading */
    --title-1: clamp(4rem, 10vw, 7rem);
    --title-2: clamp(2.7rem, 10vw, 4.7rem);
    /* --title-3: clamp(2.5rem, 10vw, 3.2rem); */

    /** Colors */

    /** Primary */
    --primary-100: #fb9804;
    --primary-200: #ffa334;
    --primary-300: #ffaf51;
    --primary-400: #ffba6a;
    --primary-500: #ffc683;
    --primary-600: #ffd19c;

    /** Secondary */
    --secondary-100: #00bfff;
    --secondary-200: #57c8ff;
    --secondary-300: #7dd1ff;
    --secondary-400: #9cdaff;
    --secondary-500: #b7e3ff;
    --secondary-600: #d0edff;

    /** Background */
    --background-100: #f7f7f7;
    --background-200: #fff;

    /** Foreground */
    --foreground-100: #000000;
    --foreground-200: #1d1d1d;
    --foreground-300: #333333;
    --foreground-400: #4c4c4c;
    --foreground-500: #656565;
    --foreground-600: #808080;

    /** On primary */
    --on-primary-100: #000;

    --gradient: linear-gradient(
        0deg,
        var(--background-200) 0%,
        var(--secondary-600) 100%
    );

    --gradient-radial: radial-gradient(
        circle at 30% center,
        var(--secondary-600) 0%,
        var(--background-100) 16%
    );

    /** Other */
    --error: #a41900;
    --a-color: #3f92df;
    --outline-color: #00d1ff;
    --scale: 1.02;

    /** Form */
    --form-element-radius: 20px;
    --form-element-padding: 10px;

    /** Border and shadow */
    --outline: 1px solid var(--outline-color);
    --light-border: 0.5px solid var(--foreground-600);
    --card-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --button-shadow: 0px 4px 4px 0px rgba(105, 105, 105, 0.2);

    /** Animation */
    --default-transition: 400ms ease;
    --rotate: rotate 1.5s linear infinite;
    --shake-animation: shake 3s ease-in-out infinite;
    --rotate: 1deg;
}

body {
    position: relative;
    background-color: var(--background-100);
    min-width: 250px;
    margin: 0 auto;
    max-width: calc(1500px + var(--body-padding) * 2);
    overflow-x: hidden;
}

h1 {
    font-size: var(--title-1);
    font-weight: 600;
    color: var(--foreground-100);
    line-height: 100%;
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--foreground-100);
    font-size: var(--title-2);
    font-weight: 500;
}

p,
b,
a,
figcaption {
    font-size: var(--body-size-1);
}

a {
    font-weight: inherit;
}

.error {
    color: var(--error);
    font-size: var(--body-size-1);
}

.error:empty {
    display: none;
}

p,
button,
a,
span,
div,
b,
i {
    font-size: var(--body-size-1);
    color: var(--foreground-300);
    font-weight: 300;
}

b,
strong {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--foreground-100);
}

@media (max-width: 600px) {
    :root {
        /* --body-padding: 25px; */
        --header-height: 80px;
    }
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

* {
    scroll-margin-top: var(--header-height);
}
