.landing {
    display: flex;
    flex-direction: column;
    padding: var(--body-padding);
    gap: var(--body-padding);
}

.landing .hero {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
    gap: var(--body-padding);
	min-height: calc(100vh - 2*var(--body-padding) - var(--header-height));
}

.landing .hero .details {
    display: flex;
    flex-direction: column;
    gap: var(--gap-4);
}

.landing .hero .details .text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

.landing .hero .details .text h1 {
    font-size: var(--title-1);
    color: var(--foreground-100);
}

.landing .hero .details .text p {
    color: var(--foreground-300);
}

.landing .hero .heroImage {
	width: 100%;
	height: auto;
    max-width: 100%;
    -webkit-filter: var(--card-shadow);
    filter: drop-shadow(var(--card-shadow));  
}

.landing .hero .calendar {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
}

.landing .stakes {
	display: flex;
	flex-direction: column;
	gap: var(--gap-3);
	width: calc(100% + 2*var(--body-padding));
	margin: 0 calc(-1* var(--body-padding));
	padding: var(--body-padding);
	background: var(--background-200);
}

.landing .stakes h2 {
	font-size: var(--title-2);
	color: var(--foreground-100);
}

.landing .stakes p,
.landing .stakes b {
	font-size: var(--paragraph-size-2);
	color: var(--foreground-200);
}

.landing .value {
	display: flex;
	flex-direction: column;
	gap: var(--gap-3);
	margin: 0 calc(-1 * var(--body-padding));
	padding: var(--body-padding);
	/* max-width: var(--section-max-width); */

}

.landing .value h3 {
	font-size: var(--title-2);
	color: var(--foreground-100);
}

.landing .value .cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: var(--gap-2);
}

.landing .value .cards figure {
	display: flex;
	flex-direction: column;
	gap: var(--gap-1);
}
.landing .value .cards figure b {
	font-size: var(--paragraph-size-1);
	color: var(--foreground-200);
}
.landing .value .cards figure figcaption {
	font-size: var(--paragraph-size-1);
	color: var(--foreground-300);
}

.landing .howWeDo,
.landing .ourPlan {
	display: flex;
	flex-direction: column;
	gap: var(--gap-3);
}

.landing .howWeDo {
	width: calc(100% + 2*var(--body-padding));
	margin: 0 calc(-1* var(--body-padding));
	padding: var(--body-padding);
	background: var(--background-300);
}

.landing .howWeDo .title,
.landing .ourPlan .title {
	display: flex;
	flex-direction: column;
	gap: var(--gap-2);
}

.landing .howWeDo h5,
.landing .ourPlan h4 {
	font-size: var(--title-2);
	color: var(--foreground-100);
}

.landing .howWeDo p,
.landing .ourPlan p {
	font-size: var(--paragraph-size-2);
	color: var(--foreground-300);
	max-width: var(--section-max-width);
	/* background: red; */
}

.explanatory {
	display: flex;
	flex-direction: column;
	gap: var(--gap-3);
}

.explanatory h6 {
	font-size: var(--title-2);
	color: var(--foreground-100);
}

.explanatory .text {
	display: flex;
	flex-direction: column;
	gap: var(--gap-2);
}

.explanatory .text p,
.explanatory .text ol li {
	font-size: var(--paragraph-size-1);
	color: var(--foreground-300);
}

.explanatory .text ol {
	list-style-position: inside;
	display: flex;
	flex-direction: column;
	gap: var(--gap-1);
}

.landing .line {
	width: calc(100% + var(--body-padding) * 2);
	margin: 0 calc(-1 * var(--body-padding));
	border: 0;
	border-top: var(--light-border);
}

.landing .faq {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--gap-3);
	align-items: center;
}

.landing .faq h6 {
	text-align: center;
	font-size: var(--title-2);
	color: var(--foreground-100);
}

.landing .faq dl {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap-1);
	font-size: var(--paragraph-size-1);
	max-width: var(--section-max-width);
}

.landing .faq dl dt {
	font-weight: bolder;
	text-align: center;
	font-size: var(--paragraph-size-2);
}

.landing .faq dl dd {
	margin-bottom: var(--gap-2);
	color: var(--foreground-300);
	text-align: center;
}


@media (max-width: 1000px) {
    .landing .hero {
        grid-template-columns: 1fr;
    }
	.landing .hero img {
		max-width: 100%;
		height: auto;
		object-fit: contain;
	}
	.landing .hero .heroImage{
		order: 1;
	}

	.landing .hero .details {
		order: 2;
	}

	
}