.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--group-big);
    background: var(--gradient-radial);

    margin: 0 calc(-1 * var(--body-padding));
    padding: var(--body-padding);

    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}
.stakes {
    display: flex;
    flex-direction: column;
    gap: var(--group-big);

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: var(--group-medium);

        .valueCard {
            display: flex;
            flex-direction: column;
            gap: var(--group-medium);

            figcaption {
                display: inherit;
                flex-direction: inherit;
                gap: inherit;
                .title {
                    font-size: var(--body-size-2);
                }
            }
        }
    }
}

.valueProposition {
    width: calc(100% + 2 * var(--body-padding));
    margin: 0 calc(-1 * var(--body-padding));
    padding: var(--body-padding);
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--group-big);
    background: var(--gradient);

    h3 {
        font-size: var(--title-3);
        text-align: center;
    }
}

.caseStudies {
    display: flex;
    flex-direction: column;
    gap: var(--group-big);

    h4 {
        font-size: var(--title-3);
    }
}

.process {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--group-big);
    width: calc(100% + 2 * var(--body-padding));
    margin: 0 calc(-1 * var(--body-padding));
    padding: var(--body-padding);
    background: var(--gradient);

    h5 {
        text-align: center;
    }
}

.reviewSurplus {
    display: flex;
    gap: var(--group-big);
    align-items: center;
    .column {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: var(--group-big);
        position: relative;
        align-items: center;
        justify-content: center;

        .card {
            display: flex;
            flex-direction: column;
            gap: var(--group-medium);
        }
        img {
            object-fit: contain;
            max-width: 100%;
        }
    }
}

@media (max-width: 900px) {
    .reviewSurplus {
        flex-direction: column-reverse;
        .column {
            width: 100%;
        }
    }
}
