.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--body-padding);
    margin: 0 calc(-1 * var(--body-padding));
    padding: var(--body-padding);
    background: var(--gradient-radial);
}

.hero .details {
    display: flex;
    flex-direction: column;
    gap: var(--group-big);
}

.hero .details .text {
    display: flex;
    flex-direction: column;
    gap: var(--group-small);
}

.hero .details .text p {
    color: var(--foreground-300);
}

.hero .heroImage {
    width: 100%;
    height: auto;
    max-width: 100%;
    -webkit-filter: var(--card-shadow);
    filter: drop-shadow(var(--card-shadow));
}

.hero .calendar {
    display: flex;
    flex-direction: column;
    gap: var(--group-medium);
}

.stakes {
    display: flex;
    flex-direction: column;
    gap: var(--group-medium);
    p {
        max-width: var(--section-max-width);
    }
}

.value {
    display: flex;
    flex-direction: column;
    gap: var(--group-medium);
    width: calc(100% + 2 * var(--body-padding));
    margin: 0 calc(-1 * var(--body-padding));
    padding: var(--body-padding);
    background: var(--gradient);
}

.caseStudies {
    display: flex;
    flex-direction: column;
    gap: var(--group-medium);
}

.howWeDo,
.ourPlan {
    display: flex;
    flex-direction: column;
    gap: var(--group-medium);
}

.howWeDo {
    width: calc(100% + 2 * var(--body-padding));
    margin: 0 calc(-1 * var(--body-padding));
    padding: var(--body-padding);
    background: var(--background-200);
}

.howWeDo .title,
.ourPlan .title {
    display: flex;
    flex-direction: column;
    gap: var(--group-small);
}

.howWeDo p,
.ourPlan p {
    max-width: var(--section-max-width);
}

.explanatory {
    display: flex;
    flex-direction: column;
    gap: var(--group-medium);
    max-width: var(--section-max-width);
    margin: 0 auto;
}

.explanatory .text {
    display: flex;
    flex-direction: column;
    gap: var(--group-small);
}

.explanatory .text ol {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: var(--group-small);
}

.line {
    width: calc(100% + var(--body-padding) * 2);
    margin: 0 calc(-1 * var(--body-padding));
    border: 0;
    border-top: var(--light-border);
}

.faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--group-medium);
    align-items: center;
}

.faq h6 {
    text-align: center;
}

.faq dl {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--group-small);
    max-width: var(--section-max-width);
}

.faq dl dt {
    text-align: center;
    font-size: var(--body-size-1);
}

.faq dl dd {
    margin-bottom: var(--group-small);
    color: var(--foreground-300);
    text-align: center;
    font-size: var(--body-size-1);
}

@media (max-width: 1000px) {
    .hero {
        grid-template-columns: 1fr;
    }
    .hero img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
    .hero .heroImage {
        order: 1;
    }

    .hero .details {
        order: 2;
    }
}
