.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--group-big);
    background: var(--gradient-radial);

    img {
        max-width: 100%;
    }
    h1 {
        text-align: center;
        max-width: var(--section-max-width);
    }
    .txt {
        text-align: center;
        font-size: var(--body-size-3);
        max-width: var(--section-max-width);
    }
}
.stakes {
    display: flex;
    flex-direction: column;
    gap: var(--group-big);
    align-items: center;
    h2 {
        text-align: center;
        max-width: var(--section-max-width);
    }

    .description {
        max-width: var(--section-max-width);
        font-size: var(--body-size-3);
        text-align: center;
    }
}

.valueProposition {
    width: calc(100% + 2 * var(--body-padding));
    margin: 0 calc(-1 * var(--body-padding));
    padding: var(--body-padding);
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--group-big);
    background: var(--gradient);

    h3 {
        text-align: center;
        max-width: var(--section-max-width);
    }
}

.socialProof {
    display: flex;
    flex-direction: column;
    gap: var(--group-big);
    align-items: center;

    h4 {
        text-align: center;
        max-width: var(--section-max-width);
    }

    .result {
        display: flex;
        gap: var(--group-big);
        align-items: center;
        max-width: var(--section-max-width);
        flex-wrap: wrap;

        img {
            flex: 1;
            max-width: 100%;
        }

        figcaption {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: var(--group-small);
            align-items: start;
            b {
                font-size: var(--body-size-3);
            }

            p {
                font-size: var(--body-size-1);
            }
        }
    }
}

.process {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--group-big);
    width: calc(100% + 2 * var(--body-padding));
    margin: 0 calc(-1 * var(--body-padding));
    padding: var(--body-padding);
    background: var(--gradient);

    .description {
        max-width: var(--section-max-width);
        text-align: center;
        font-size: var(--body-size-3);
    }

    h5 {
        text-align: center;
    }
}

.projects {
    display: flex;
    gap: var(--group-big);
    overflow-x: auto;
    margin: 0 calc(-1 * var(--body-padding));
    transform: var(--rorate);
    display: flex;
    flex-direction: column;
    gap: inherit;
}

.faq {
    display: flex;
    gap: var(--row-spacing);

    display: flex;
    flex-direction: column;
    gap: var(--group-big);

    max-width: var(--section-max-width);
    width: 100%;
    margin: 0 auto;

    background: var(--gradient-radial);

    h6 {
        text-align: center;
    }
    details {
        margin: 0 auto;
        width: 100%;
        max-width: var(--section-max-width);

        summary {
            cursor: pointer;
            font-size: var(--body-size-3);
            font-weight: 500;

            &::marker {
                content: '';
            }

            &::after {
                content: '+';
                float: right;
            }
            width: 100%;
        }
        p {
            margin-top: var(--group-small);
            width: 100%;
        }

        padding: var(--card-small-padding) 0;
        border-bottom: var(--light-border);
        &[open] {
            summary::after {
                content: '-';
            }
        }
    }
}

.lastCTA {
    margin: 0 calc(-1 * var(--body-padding));
    padding: var(--body-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--gradient);
    gap: var(--group-big);
    h6 {
        text-align: center;
    }

    .description {
        text-align: center;
        font-size: var(--body-size-3);
    }
}

@media (max-width: 900px) {
    .reviewSurplus {
        flex-direction: column-reverse;
        .column {
            width: 100%;
        }
    }
}
