.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--group-big);
    figure {
        display: flex;
        flex-direction: column;
        gap: var(--group-small);

        border: var(--light-border);
        border-radius: var(--card-big-radius);
        overflow: hidden;

        img {
            max-width: 100%;
        }

        figcaption {
            display: inherit;
            flex-direction: inherit;
            gap: inherit;
            padding: var(--card-big-padding);
            justify-content: center;
            align-items: center;
            .title {
                font-size: var(--body-size-2);
                text-align: center;

                a {
                    color: var(--a-color);
                }
            }

            p {
                text-align: center;
            }
        }
    }
}
