.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--group-big);
    background: var(--gradient-radial);
    margin: 0 calc(-1 * var(--body-padding));
    padding: var(--body-padding);
    h1 {
        font-size: var(--title-1);
        text-align: center;
    }
}

.stakes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--group-big);
    width: 100%;
    h2 {
        text-align: center;
    }

    p,
    b {
        text-align: center;
        max-width: var(--section-max-width);
    }
}

.valueProposition {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--group-big);
    width: calc(100% + 2 * var(--body-padding));
    margin-left: calc(-1 * var(--body-padding));
    padding: var(--body-padding);
    background: var(--gradient);

    h3 {
        text-align: center;
    }
}

.caseStudies {
    display: flex;
    flex-direction: column;
    gap: var(--group-big);
}

.process {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--group-big);
    width: calc(100% + 2 * var(--body-padding));
    margin-left: calc(-1 * var(--body-padding));
    padding: var(--body-padding);
    background: var(--gradient);

    h5 {
        text-align: center;
    }
}

.stakesTwo,
.guideTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--group-big);
    width: 100%;
    h6 {
        text-align: center;
    }

    p,
    b {
        text-align: center;
        max-width: var(--section-max-width);
    }
}
