.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: var(--body-padding);
    gap: var(--body-padding);
}

.page .details {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
}

.page .details .text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
}

.page .details .text h1 {
    font-size: var(--title-1);
    color: var(--foreground-100);
}

.page .details .text p {
    color: var(--foreground-200);
}

.page .details img {
    max-width: 70%;
    -webkit-filter: var(--card-shadow);
    filter: drop-shadow(var(--card-shadow));  
}

.page .calendar {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
}

@media (max-width: 900px) {
    .page {
        grid-template-columns: 1fr;
    }

    .page .details img {
        max-width: 100%; 
    }
}